		body{margin:0;padding:0; background:rgba(255,255,255,0.7);color:rgb(75,75,75);}
        body.white_bg{margin:0;padding:0; background:rgb(255,255,255);color:rgb(120,120,120);}
        body.clear_bg{margin:0;padding:0; background:transparent;color:rgb(255,255,255);}
		.header {
			font-family: 'Arial Black';
			margin-left: 20px;
			font-size: 93.75%;
			margin-right: 20px;
			font-weight: bold;
}
		.subheader {
			font-family: "Arial Black";
			margin-left: 20px;
			font-size: 93.75%;
			margin-right: 20px;
			font-weight: bold;
		}
		.content {
			font-family: 'Arial';
			color: #47596f;
			margin-left: 20px;
			margin-right: 20px;
			font-size: 93.75%;
		}
	
